<main id="main" class="--main">
   <header id="nav" class="ui inverted vertical masthead center aligned segment">
      <div class="ui container">
         <div class="ui menu">
            <a href="/" class="header item">
               <h3 class="logo">Medium Scraper</h3>
            </a>
            <a href="https://github.com/71emj/Medium-Scrapper" class="item">
               <p>Github</p>
            </a>
            <a href="/" class="item">
               <p>Scrap More</p>
            </a>
            <div class="right item">
               <!-- <div id="filter" class="ui inverted tranparent left small icon input">
                  <input type="text" name="filter" placeholder="Filter..." />
                  <i class="search icon"></i>
               </div> -->
               <div class="ui selection dropdown">
                  <input type="hidden" name="filter" />
                  <!-- <i class="dropdown icon"></i> -->
                  <div class="default text">Category...</div>
                  <div id="category" class="menu">
                     <div class="item" data-category="default">All</div>
                     {{#each data}}
                     <div class="item" data-category="{{this.category}}">
                        {{this.category}}
                     </div>
                     {{/each}}
                     <!-- <div class="item">Disabled</div>
                     <div class="item">Choice 3</div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <section id="body" class="ui container">
      <div class="ui stackable four column doubling relaxed grid">
         {{#each data}}
         <article class="ui column __trigger" data-id="{{this._id}}" data-category="{{this.category}}" data-author="{{this.author}}" data-href="{{this.link}}">
            <!-- <div class="ui link cards"> -->
            <div class="ui link card">
               <div class="content">
                  <div class="header">
                     {{this.title}}
                  </div>
                  <div class="ui divider"></div>
                  <p class="description">
                     {{this.article}}
                  </p>
                  <div class="ui bottom attached olive label">
                     {{this.createdAt}}
                  </div>
               </div>
            </div>
            <!-- </div> -->
         </article>
         {{/each}}
      </div>
   </section>
   <div class="ui modal">
      <div class="header">
         <h1></h1>
         <i id="del" class="trash link icon"></i>
      </div>
      <div class="scrolling content --content">
         <div class="ui two column grid">
            <div class="ui six wide column">
               <h4 id="author" class="meta"></h4>
               <a id="link" href="">
                  Read original article from Medium
               </a>
               <p id="text"></p>
            </div>
            <div id="note_container" class="ui ten wide column">
               <section class="ui segment __note">
                  <div class="ui grid">
                     <div class="ui twelve wide column">
                     </div>
                     <span class="ui four wide right aligned column">
                        <i class="trash outline large icon"></i>
                     </span>
                  </div>
               </section>
               <div id="add" class="ui column __trigger" style="text-align: center">
                  <i class="add big olive circle icon"></i>
               </div>
            </div>
         </div>
         <div class="ui bottom attached olive label">
         </div>
      </div>
   </div>
   <footer class="ui inverted vertical middle footer segment">
      <div class="ui container">
         <div class="ui stackable inverted divided equal height centered grid">
            <div class="three wide column">
               <p class="ui inverted center align" style="line-height: 3rem;">
                  71emj @ Github
               </p>
            </div>
         </div>
      </div>
   </footer>
</main>
<script src="./assets/javascript/save.js"></script>
<script type="text/javascript">
(function($) {
   const articleNotes = JSON.parse(`{{json notes}}`); // pass notes with article _id as key
   console.log(articleNotes);
   Main($, articleNotes);
}(jQuery));
</script>